



<!--  start --->
{% extends 'posts/base.html' %}

{% load static %}
{% block content %}
<style type="text/css">
      #a1{
font-family: 'Permanent Marker', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Pacifico', cursive;
}
#b1
{
      font-family: 'Permanent Marker', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Great Vibes', cursive;
}

body {
  background-image: url('https://cdn.dribbble.com/users/722246/screenshots/11096994/media/abcf2fe91c135bbaec19a3816dd0a992.gif');
  background-repeat: repeat-y;
  background-size: 100vw 100vh;
  margin-top: 0vw;
}
</style>
<body>
<h1 class="alert alert-success">PRIVATE CHAT</h1>
<ul>
	

{% for message  in mylist  %}


			 {% if message.sender == user %}

					<div class="alert alert-warning">
					<b>sender ---->{{message.sender}}</b>
						<br>
						{% if message.title %}
					message received ---->{{message.title}}
					<br>
					{% endif %}


					{% if message.receiver %}
					<b>receiver ---> {{message.receiver}}</b>
					<br>
					Time --->{{message.date1}} GMT + 5:30
						</div>
					{% endif %}

			


			 {% else %}
					<div class="alert alert-success">
					<b>sender ---->{{message.sender}}</b>
					<br>
						{% if message.title %}
					message received ---->{{message.title}}
					<br>
					{% endif %}

					{% if message.receiver %}
					<b>Receiver ---> {{message.receiver}}</b>
					<br>
					Time --->{{message.date1}} GMT + 5:30

					</div>
					{% endif %}
				{% endif %}


{% endfor %}




</ul>
<body>

{% endblock %}