




<!--   navbar end  -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>PRASHANT'S PORTFOLIA</title>
  </head>
  <body>
  	<!-- start -->








{% if user.is_authenticated %}
<div >
<nav class="navbar navbar-dark bg-dark">
  <div clss="nav justify-content-space-around">
<ul class="nav justify-content-end">


	<h3 class="nav-item">
		    <a class="btn btn-info" class="nav-link active" href="{% url 'home' %}">HOME</a>
		  </h3>

		  

		  <h2 class="nav-item"><button type="button" class="btn btn-default" >  </h2>
		  
		 
		  <h3 class="nav-item">
		    <a class="btn btn-warning" href="{% url "createtodo" %}">CREATE</a>
		  </h3>
		   <h2 class="nav-item"><button type="button" class="btn btn-default" >  </h2>
		  
		  	<h3 class="nav-item">
		    <a class="btn btn-success" class="nav-link active" href="{% url 'home_todo' %}">TODO</a>
		  </h3>
		   <h2 class="nav-item"><button type="button" class="btn btn-default" >  </h2>
		  <h3>
		    <a class="btn btn-light" href="{% url "currenttodos" %}">ACTIVE</a>
		  </h3>
		   <h3 class="nav-item"><button type="button" class="btn btn-default" >  </h3>

		   <h3 class="nav-item">
		    <a class="btn btn-primary" href="{% url "completedtodos" %}">COMPLETED</a>
		  </h3>
		  </ul>

		  <ul class="nav justify-content-end">
 

			    <h3 class="nav-item"><button type="button" class="btn btn-success">   
			  			Logged in as {{user.username}}</button> </h2>
			    <h3 class="nav-item"><button type="button" class="btn btn-default" >  </h2>

				 <h3  class="nav-item" > 
						<form action="{% url 'logoutuser' %}" method="POST">
							{% csrf_token %}
							<button  class="btn btn-danger" type="submit">LOGOUT</button>
							
						</form>
				</h3>
	  </ul>
</div>
</nav>
</div>



{% else %}

<nav class="navbar navbar-dark bg-dark">

<ul class="nav justify-content-end">
			 <li class="nav-item">
			<a   class="btn btn-info" class="nav-link active" href="{% url 'signupusertodo' %}">SignUp</a>
			</li>
			<h2 class="nav-item"> 
     				<a class="nav-link" href="">    </a>
			 </h2>
			 <li class="nav-item">
			<a    class="btn btn-info" class="nav-link active" href="{% url 'loginusertodo' %}">Login</a>
			</li>
</ul>
</nav>
{% endif %}





  	<!--end -->
    <div class="container-fluid">
   {% block content %} {% endblock %}
 </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>