{% extends 'todo/base_todo.html' %}
{% block content %}


<style type="text/css">


body {
  background-image: url('https://cdn.dribbble.com/users/722246/screenshots/11096994/media/abcf2fe91c135bbaec19a3816dd0a992.gif');
  background-repeat: repeat-y;
  background-size: 100vw 100vh;
  margin-top: 0vw;
}
</style>

<div class="container text-center">
<h1 class="container p-3 my-3 bg-dark text-white">TODO </h1>
</div>
<div class="container text-center">
<h1 class="alert alert-success">MANAGE YOUR TO DO LIST EFFICIENTLY  MARK THEM COMPLETED AND EVEN DELETE THEM IF LIKE . ACCESIBLE FROM EVERY DEVICE . PROTECTED WITH YOUR PASSWORD</h1>
</div>
<div class="container text-center">
<h1 class="alert alert-success">CREATE YOUR LIST NOW</h1>
</div>
{% endblock %}
