{% extends 'todo/base_todo.html' %}

{% block content %}
<div class="container text-center">
<h1 class="container p-3 my-3 bg-dark text-white">TODO </h1>
</div>
<div class="container text-center">
<h1 class="alert alert-success">MANAGE YOUR TO DO LIST EFFICIENTLY  MARK THEM COMPLETED AND EVEN DELETE THEM IF LIKE . ACCESIBLE FROM EVERY DEVICE . PROTECTED WITH YOUR PASSWORD</h1>
</div>
<div class="container text-center">
<h1 class="alert alert-success">CREATE YOUR LIST NOW</h1>
</div>
{% endblock %}
