{% extends 'posts/base.html' %}

{% load static %}
{% block content %}

<h1 class="alert alert-success">POSTS</h1>
<ul>
	{% for feed in feeds %}
            <div class="jumbotron text-center">
      	<h2><b>{{feed.title}} </b></h2><!-- way to highlight if impotant -->
      	
                  @ {{feed.user_new}}
                  

                </br>
                  
                  {% if feed.image %}
                  <img src="{{ feed.image.url }}",height=100, width=100>
                   
                        {% endif %}
                  </br>

      	{% if feed.description %} - {{feed.description}} {% endif %}
      </div>

     
		 
     
	{% endfor %}

</ul>

{% endblock %}