
{% extends 'posts/base.html' %}

{% block content %}
<style type="text/css">
	#s1
	{
		
		padding: 2vw;
		margin-left: auto;
		margin-right:   auto;
	}
	#s2
	{
		
		height: 60vw;
		margin-left: auto;
		margin-right: auto;
	}
	#b1
{
      font-family: 'Permanent Marker', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Great Vibes', cursive;
}
</style>
<div class="container text-center">
<h1 class="container p-3 my-3 bg-dark text-white">Fricle-friend circle</h1>
</div>

<div id="s1" class="jumbotron text-center">
  				
			
			
				
					
					<img id="s2"src="https://cdn.dribbble.com/users/548267/screenshots/11107130/media/58892643af85a798c9951a7190f292ce.jpg"  >
					
			<div class="container text-center">
<h3 id="b1" class="alert alert-success">A SOCIAL NETWORKING SITE FRICLE- YOUR FRIEND CIRCLE</h3>
</div>	
					
		</div>
			
			<div class="container text-center">
<h3 id= "b1" class="alert alert-warning">support private chat using SEND MESSAGE app</h3>
</div>	
<div class="container text-center">
<h3 id ="b1" class="alert alert-warning">Monitor your todo with todo app</h3>
</div>	
		
{% endblock %}