
{% extends 'posts/base.html' %}

{% block content %}
<style type="text/css">
	#s1
	{
		
		padding: 2vw;
		margin-left:  9vw;
		margin-right:   9vw;
	}
	#s2
	{
		
		height: 40vw;
		width: 50vw;
	}
</style>
<div class="container text-center">
<h1 class="container p-3 my-3 bg-dark text-white">Fricle-friend circle</h1>
</div>

<div id="s1" class="jumbotron text-center">
  				
			
			
				
					
					<img id="s2"src="https://flamingtext.com/net-fu/proxy_form.cgi?imageoutput=true&script=minions-logo&text=Fricle&doScale=true&scaleWidth=240&scaleHeight=120&backgroundRadio=2&backgroundPattern=Leaves+6"  >
					
			<div class="container text-center">
<h1 class="alert alert-success">A SOCIAL NETWORKING SITE FRICLE- YOUR FRIEND CIRCLE</h1>
</div>	
					
		</div>
		
{% endblock %}