{% extends 'posts/base.html' %}

{% block content %}

<style type="text/css">
	
.f{
	color:blue;
}
.g{
  color:red;
}
.d
	{
		display: flex
			align-self: center;
		  
         margin-left: auto;
          margin-right: auto;
	}

body {
  background-image: url('https://cdn.dribbble.com/users/722246/screenshots/11096994/media/abcf2fe91c135bbaec19a3816dd0a992.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 0vw;
}
</style>

<h2>{{error}}</h2>
<form method="POST">
    {% csrf_token %}
 <!--Section: Live preview-->
 <div class="d">
<section class="form-dark">

  <!--Form without header-->
  <div class="card card-image"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg'); width: 28rem;">
    <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">

      <!--Header-->
      <div class="text-center">
        <h3 class="alert alert-success" class="white-text mb-5 mt-4 font-weight-bold"><strong>LOGIN</strong>
      </div>

      <!--Body-->
      <div class="md-form">
        <h3 class="f">username</h3>
        <label for="Form-email5">{{form.username}}</label>
      </div>

      <div class="md-form pb-3">
        <h3 class="f">Password</h3>
        <label for="Form-pass5">{{form.password}}</label>
        <div class="form-check my-4">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck17">
          <label class="form-check-label white-text" for="defaultCheck17">Accept the<a href="#"
              class="green-text font-weight-bold"> Terms and Conditions</a></label>
        </div>
      </div>

      <!--Grid row-->
      <div class="row d-flex align-items-center mb-4">

        <!--Grid column-->
        <div class="text-center mb-3 col-md-12">
          <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Login</button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

      <!--Grid column-->
      <div class="col-md-12">
        <p class="font-small white-text d-flex justify-content-end"><h3 class="g">Don't an account? </h3><a href="{%url 'signupuser' %}"
            class="green-text ml-1 font-weight-bold"> SIGN UP</a></p>
      </div>
      <!--Grid column-->

    </div>
  </div>
  <!--/Form without header-->

</section>
<!--Section: Live preview-->
</form>
</div>
{% endblock %}